/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Light and Dark Mode */
.lightMode {
  --background-color: rgb(238, 238, 238);
  --font-color: rgb(0, 0, 0);
  --nav-background: rgb(221, 221, 221);
  --shadow-color: rgb(0, 0, 0, 0.17);
  --neon-btn-color: rgba(222, 56, 255, 0.8);
}

.darkMode {
  --background-color: rgb(17, 17, 17);
  --font-color: rgb(238, 238, 238);
  --nav-background: rgb(34, 34, 34);
  --shadow-color: rgb(238, 238, 238, 0.1);
  --neon-btn-color: rgba(222, 56, 255, 1);
}

/* Scroll Css */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #d569ff;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(295, 100%, 50%);
}

/* Reset Css */
body, h1, p {
  padding: 0;
  margin: 0;
}

/* Main Css */
body {
    width: 100%;
    min-height: 100vh;
    font-family: Dosis, sans-serif;
    background-color: var(--background-color);
    color: var(--font-color)
}

/* Navbar Css */
header {
  position: relative;
  background-color: var(--nav-background);
  height: 50px;
}

#navBar {
  display: flex;
  position: fixed;
  background-color: var(--nav-background);
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 7px 0px var(--shadow-color);
  -moz-box-shadow: 0px 3px 7px 0px var(--shadow-color);
  box-shadow: 0px 3px 7px 0px var(--shadow-color);
  z-index: 100;
}

#navBar .brandLogo {
  font-size: 1.4rem;
  font-weight: 600;
  flex-basis: 20%;
}

#navBar > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
  flex-basis: 80%;
}

#navBar > ul > li {
  list-style: none;
}

#navBar > ul > li > a {
  font-size: 1.2rem;
  color: var(--font-color);
  text-decoration: none;
  transition: 0.3s ease;
}

/* NavLink Hover Effect */
#navBar > ul > li > a:hover {
  font-size: 1.4rem;
  font-weight: 600;
}

/* Hero Section */
#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  height: calc(100vh - 50px);
  justify-content: center;
  align-items: center;
}

#hero .decorElements {
  position: relative;
  height: 100%;
  width: 100%;
}

#hero .decorElements {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

#hero .decorElements > .decor:nth-child(1) {
  position: absolute;
  background-color: rgba(0, 166, 255, 0.8);
  height: 8rem;
  width: 11rem;
  border-radius: 60px;
  left: 25%;
  bottom: 40%;
  filter: blur(120px);
  transition: 0.4s all ease;
  animation: 1s blur ease infinite alternate;
}

#hero .decorElements > .decor:nth-child(2) {
  position: absolute;
  background-color: rgba(230, 0, 255, 0.8);
  height: 12rem;
  width: 7rem;
  border-radius: 60px;
  left: 40%;
  bottom: 40%;
  filter: blur(120px);
  transition: 0.4s all ease;
  animation: 2s blur ease infinite alternate;
}

#hero .decorElements > .decor:nth-child(3) {
  position: absolute;
  background-color: rgba(0, 166, 255, 0.8);
  height: 11rem;
  width: 8rem;
  border-radius: 60px;
  left: 55%;
  bottom: 40%;
  filter: blur(140px);
  transition: 0.4s all ease;
  animation: 8s blurGlow ease infinite alternate;
}

@keyframes blurGlow {
  to {
    background-color: rgba(92, 198, 255, 1);
    filter: blur(80px);
    scale: 1.4;
  }
}

.textCapsule {
  display: flex;
  column-gap: 12px;
  background-color: white;
  color: black;
  border: 2px solid rgba(0, 166, 255, 0.8);
  padding: 8px 15px;
  border-radius: 25px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: Open San, sans-serif;
  box-sizing: border-box;
  box-shadow: 0px 1px 12px rgba(0, 166, 255, 1);
  z-index: 10;
}

.brandText {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 900;
  z-index: 10;
}

.neonButton {
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  cursor: pointer;
  font-size: 1rem;
  color: var(--neon-btn-color);
  text-decoration: none;
  padding: 0.4rem 2rem;
  border-radius: 0.25em;
  border: 0.125em solid var(--neon-btn-color);
  box-shadow: inset 0 0 0.5em 0 var(--neon-btn-color), 0 0 0.5em 0 var(--neon-btn-color);
  text-shadow: 0 0 0.125em rgba(187, 187, 187, 0.3), 0 0 0.45em var(--neon-btn-color);
  margin-top: 1rem;
  z-index: 10;
}

.neonButton::before, .neonButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: opacity 0.2s linear;
}

.neonButton::before {
  background: var(--neon-btn-color);
  top: 120%;
  height: 100%;
  filter: blur(1em);
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  opacity: 0.7;
  scale: 2;
  pointer-events: none;
}

.neonButton::after {
  bottom: 0;
  right: 0;
  background-color: var(--neon-btn-color);
  box-shadow: 0 0 2em 0.5em var(--neon-btn-color);
  opacity: 0;
}

.neonButton:hover, .neonButton:focus {
  color: var(--font-color);
  text-shadow: none;
}

.neonButton:hover::before, .neonButton:focus::before, .neonButton:hover::after, .neonButton:focus::after {
  opacity: 1;
}


/* Brand Text Color for Light Mode and Dark Mode */
.lightMode .brandText h1:nth-child(2) { 
  text-shadow:
  -1px -1px 0 #000000, 
   1px -1px 0 #000000,
  -1px 1px 0 #000000,
   1px 1px 0 #000000;
}

.darkMode .brandText h1:nth-child(2) { 
  text-shadow:
  -1px -1px 0 #ffffff,  
   1px -1px 0 #ffffff,
  -1px 1px 0 #ffffff,
   1px 1px 0 #ffffff;
}

/* Outline for modern browsers (supported browsers) */
@supports((text-stroke: 4px white) or (-webkit-text-stroke: 4px white)) {
  .darkMode .brandText h1:nth-child(2) {
      color: transparent;
      -webkit-text-stroke: 4px rgb(255, 255, 255);
      text-stroke: 4px rgb(255, 255, 255);
      text-shadow: none;
  }

  .lightMode .brandText h1:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 4px rgb(0, 0, 0);
    text-stroke: 4px rgb(0, 0, 0);
    text-shadow: none;
}
}

/* Reduced Motion Css */
@media (prefers-reduced-motion) {
  #hero .decorElements > * {
  animation: none;
  }
}
