/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Light and Dark Mode */
.lightMode {
  --background-color: rgb(238, 238, 238);
  --font-color: rgb(0, 0, 0);
  --nav-background: rgb(221, 221, 221);
  --shadow-color: rgb(0, 0, 0, 0.17);
  --neon-btn-color: rgba(222, 56, 255, 0.8);
}

.darkMode {
  --background-color: rgb(17, 17, 17);
  --font-color: rgb(238, 238, 238);
  --nav-background: rgb(34, 34, 34);
  --shadow-color: rgb(238, 238, 238, 0.1);
  --neon-btn-color: rgba(222, 56, 255, 1);
}

/* Scroll Css */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #d569ff;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(295, 100%, 50%);
}

/* Reset Css */
body, h1, p {
  padding: 0;
  margin: 0;
}

/* Main Css */
body {
    width: 100%;
    min-height: 100vh;
    font-family: Dosis, sans-serif;
    background-color: var(--background-color);
    color: var(--font-color)
}

.sidePadding {
  padding: 0px 50px;
}

/* Navbar Css */
header {
  position: relative;
  background-color: var(--nav-background);
  height: 50px;
}

#navBar {
  display: flex;
  position: fixed;
  background-color: var(--nav-background);
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 7px 0px var(--shadow-color);
  -moz-box-shadow: 0px 3px 7px 0px var(--shadow-color);
  box-shadow: 0px 3px 7px 0px var(--shadow-color);
  z-index: 100;
}

#navBar .brandLogo {
  font-size: 1.4rem;
  font-weight: 600;
  flex-basis: 20%;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinks .hamburger, .navLinks #hamburgerLinks {
  display: none;
}

.navLinks > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
  flex-basis: 80%;
}

.navLinks > ul > li {
  list-style: none;
}

.navLinks > ul > li > a {
  font-size: 1.2rem;
  color: var(--font-color);
  text-decoration: none;
  transition: 0.3s ease;
}

/* NavLink Hover Effect */
.navLinks > ul > li > a:hover {
  font-size: 1.4rem;
  font-weight: 600;
}

/* NavLink Focus Effect */
.navLinks > ul > li > a:focus {
  color: #008aec;
}

/* Hero Section */
#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  height: calc(100vh - 50px);
  justify-content: center;
  align-items: center;
}

#hero .decorElements {
  position: relative;
  height: 100%;
  width: 100%;
}

#hero .decorElements {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

#hero .decorElements > .decor:nth-child(1) {
  position: absolute;
  background-color: rgba(0, 166, 255, 0.8);
  height: 8rem;
  width: 11rem;
  border-radius: 60px;
  left: 25%;
  bottom: 40%;
  filter: blur(120px);
  transition: 0.4s all ease;
  animation: 1s blur ease infinite alternate;
}

#hero .decorElements > .decor:nth-child(2) {
  position: absolute;
  background-color: rgba(230, 0, 255, 0.8);
  height: 12rem;
  width: 7rem;
  border-radius: 60px;
  left: 40%;
  bottom: 40%;
  filter: blur(120px);
  transition: 0.4s all ease;
  animation: 2s blur ease infinite alternate;
}

#hero .decorElements > .decor:nth-child(3) {
  position: absolute;
  background-color: rgba(0, 166, 255, 0.8);
  height: 11rem;
  width: 8rem;
  border-radius: 60px;
  left: 55%;
  bottom: 40%;
  filter: blur(140px);
  transition: 0.4s all ease;
  animation: 8s blurGlow ease infinite alternate;
}

@keyframes blurGlow {
  to {
    background-color: rgba(92, 198, 255, 1);
    filter: blur(80px);
    scale: 1.4;
  }
}

.textCapsule {
  display: flex;
  column-gap: 12px;
  background-color: white;
  color: black;
  border: 2px solid rgba(0, 166, 255, 0.8);
  padding: 8px 15px;
  border-radius: 25px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: Open San, sans-serif;
  box-sizing: border-box;
  box-shadow: 0px 1px 12px rgba(0, 166, 255, 1);
  z-index: 10;
}

.brandText {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: clamp(2.2rem, 45px, 6rem);
  font-weight: 900;
  z-index: 10;
}

.neonButton {
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  cursor: pointer;
  font-size: 1rem;
  color: var(--neon-btn-color);
  text-decoration: none;
  padding: 0.4rem 2rem;
  border-radius: 0.25em;
  border: 0.125em solid var(--neon-btn-color);
  box-shadow: inset 0 0 0.5em 0 var(--neon-btn-color), 0 0 0.5em 0 var(--neon-btn-color);
  text-shadow: 0 0 0.125em rgba(187, 187, 187, 0.3), 0 0 0.45em var(--neon-btn-color);
  margin-top: 1rem;
  z-index: 10;
}

.neonButton::before, .neonButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: opacity 0.2s cubic-bezier(.41,2.06,.46,-1.03);
}

.neonButton::before {
  background: var(--neon-btn-color);
  top: 120%;
  height: 100%;
  filter: blur(1em);
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  opacity: 0.7;
  scale: 2;
  pointer-events: none;
}

.neonButton::after {
  bottom: 0;
  right: 0;
  background-color: var(--neon-btn-color);
  box-shadow: 0 0 2em 0.5em var(--neon-btn-color);
  opacity: 0;
}

.neonButton:hover, .neonButton:focus {
  color: var(--font-color);
  text-shadow: none;
}

.neonButton:hover::before, .neonButton:focus::before, .neonButton:hover::after, .neonButton:focus::after {
  opacity: 1;
}


/* Brand Text Color for Light Mode and Dark Mode */
.lightMode .brandText h1:nth-child(2) { 
  text-shadow:
  -1px -1px 0 #000000, 
   1px -1px 0 #000000,
  -1px 1px 0 #000000,
   1px 1px 0 #000000;
}

.darkMode .brandText h1:nth-child(2) { 
  text-shadow:
  -1px -1px 0 #ffffff,  
   1px -1px 0 #ffffff,
  -1px 1px 0 #ffffff,
   1px 1px 0 #ffffff;
}


/* Scroll In Section */
#scrollInSection {
  position: relative;
  height: 300vh;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(180deg, var(--background-color), rgba(0, 166, 255, 0.05), rgba(222, 56, 255, 0.05), var(--background-color));
  overflow-x: clip;
}

#scrollInSection .decorElements {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#scrollInSection .decorElements > .decor { 
  position: absolute;
  top: -20%;
  left: -50%;
  width: 20rem;
  aspect-ratio: 1/1;
  background: url('./assets/decors/planet-gif.gif');
  background-size: contain;
  scale: 0;
  opacity: 0;
  animation: planetScrollIn cubic-bezier(.6,.18,.39,.75) forwards;
  animation-timeline: scroll();
  animation-range-start: 20%;
  transition: 0.3 all ease;
}

#scrollInSection .stickyContainer {
  position: sticky;
  left: 0%;
  top: 25%;
  bottom: 25%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.stickyContainer .scrollInLeft, .stickyContainer .scrollInRight {
  animation: scrollIn cubic-bezier(.6,.18,.39,.75) forwards;
  animation-timeline: scroll();
  animation-range-start: 10%;
  animation-range-end: 70%;
  opacity: 0;
}

.stickyContainer .scrollInLeft {
  transform: translateX(-200%);
  flex-basis: 29%;
}
.stickyContainer .scrollInRight {
  transform: translateX(200%);
  flex-basis: 59%;
}

.stickyContainer .scrollInLeft .evoShoeImg {
  height: 100%;
  aspect-ratio: 1/1; /* Square */
  background-color: rgba(222, 56, 255, 0.6);
  background-image: url('./assets/shoes/EvoShoe.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 19px;
  border: 2px solid rgba(0, 166, 255, 1);
  transition: 0.3s all cubic-bezier(.6,.18,.39,.75);
}

.stickyContainer .scrollInLeft .evoShoeImg:hover {
  background-blend-mode:luminosity 
}

.stickyContainer .scrollInLeft .evoShoeImg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  aspect-ratio: 1/1;
  background: linear-gradient(120deg, rgba(0, 166, 255, 0.7), rgba(0, 251, 255, 0.7), rgba(222, 56, 255, 0.7),rgba(0, 251, 255, 0.7));
  border-radius: 20px;
  z-index: -1;
  animation: animatedgradient ease alternate forwards;
  animation-timeline: view();
  animation-range-start: 50%;
  scale: 0.9;
  background-size: 200% 200%;
}

.evoTextContainer p {
  font-size: 1.2em;
}

.evoTextContainer h2 {
  font-size: 1.5em;
}


.evoTextContainer .highlightWord {
  font-weight: 700;
  background: linear-gradient(90deg, rgb(39, 179, 255), rgb(228, 94, 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

footer {
  background: var(--background-color);
  margin-top: 100px;
}

#pageHeading {
  margin-left: 50px;
  margin-top: 1em;
}

#productSection {
  display: grid;
  padding-top: 40px;
  padding-bottom: 40px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  min-height: 100vh;
}

#productSection .productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh/2);
  aspect-ratio: 2/2.7;
  border-radius: 15px;
  border: 2px solid var(--font-color);
  background: linear-gradient(145deg, var(--background-color), #cacaca12);
  box-shadow: 2px 2px 6px #bebebe,
             -2px -2px 6px #ffffff;
  backdrop-filter: blur(20px);
  transition: 0.3s all cubic-bezier(.6,.18,.39,.75);
  opacity: 0;
  animation: 0.5s cardEaseIn cubic-bezier(.6,.18,.39,.75) forwards;
  animation-delay: 200ms;
}


@keyframes cardEaseIn {
  to {
    opacity: 1;
  }
}

.productCard img {
  width: 90%;
  aspect-ratio: 1/1.1;
  object-fit: cover;
  border: 2px solid var(--font-color);
  border-radius: 15px;
  margin-top: 1rem;
}

.productCard .topDiv {
  padding: 0.3em 0.4em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
}

.productCard .topDiv p:nth-child(1) {
  font-size: 1.5em;
  font-weight: 600;
}

#productSection .productCard:hover {
  scale: 1.02;
}

.productCard button {
  width: 100%;
  height: 100%;
  margin-top: 0.2em;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 2px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 0.3s all cubic-bezier(.6,.18,.39,.75);
  background-color: var(--neon-btn-color);
}

.productCard button:hover {
  font-size: 1em;
  letter-spacing: 3px;
  background-color: #7dcbff;
}

#contactSection {
  min-height: 100vh;
  margin-top: 2rem;
}

#contactForm {
  display: flex;
  flex-direction: column;
  background: linear-gradient(145deg, var(--background-color), #cacaca12);
  padding: 20px;
  border-radius: 15px;
  border: 2px solid var(--font-color);
  margin: auto;
  box-sizing: border-box;
}

#contactForm input, #contactForm textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  box-sizing: border-box;
  transition: 0.3s all cubic-bezier(.6,.18,.39,.75);
  outline: none;
}

#contactForm input:focus, #contactForm textarea:focus {
  outline: 2px solid #008aec;
}

#contactForm p {
  font-size: 0.9em;
  color: red;
  margin-bottom: 1rem;
}

#contactForm > textarea {
  resize: none;
}

#contactForm .buttonRow {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#contactForm button {
  background-color: #008aec;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-right: 0.25em;
  transition: 0.3s all cubic-bezier(.6,.18,.39,.75);
}

#contactForm button:hover {
  background-color: #0058cc;
}

#pageFooter {
height: 10vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2px 4px;
box-sizing: border-box;
background: var(--nav-background);
}

#pageFooter >  ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

#pageFooter > ul > li {
  padding: 0.05em 0.4em;
  margin-right: 0em 0.4em;
  border-right: 2px solid var(--font-color);
}

#pageFooter > ul > li:last-child {
  border-right: none;
}

#pageFooter > ul > li > a {
  font-size: 0.8em;
  color: var(--font-color);
  text-decoration: none;
  transition: 0.3s ease;
}

#pageFooter > ul > li > a:hover {
  color: #008aec;
}

#pageFooter > ul > li > a:focus {
  color: #004dc0;
}

#pageFooter p {
  align-self: flex-start;
}

.showLinks {
  display: none;
}

@keyframes animatedgradient {
	0% {
    scale: 0.9;
		background-position: 0% 50%;
    transform: rotate(0deg);
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
    scale: 1;
		background-position: 0% 50%;
    transform: rotate(240deg);
	}
}

@keyframes planetScrollIn {
  0% {
    left: -50%;
    top: -20%;
    scale: 0;
    opacity: 0;
    filter: blur(10px);
  }
  50% {
    left: 45%;
    top: 30%;
    scale: 0.75;
    opacity: 0.6;
    filter: blur(2px);
  }
  100% {
    left: 95%;
    top: 80%;
    scale: 2;
    opacity: 0.8;
    filter: blur(0px);
  }
}


/* Scroll In Frames */

@keyframes scrollIn {
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}




/* Outline for modern browsers (supported browsers) */
@supports((text-stroke: 4px white) or (-webkit-text-stroke: 4px white)) {
  .darkMode .brandText h1:nth-child(2) {
      color: transparent;
      -webkit-text-stroke: 4px rgb(255, 255, 255);
      text-stroke: 4px rgb(255, 255, 255);
      text-shadow: none;
  }

  .lightMode .brandText h1:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 4px rgb(0, 0, 0);
    text-stroke: 4px rgb(0, 0, 0);
    text-shadow: none;
}
}

/* Reduced Motion Css */
@media (prefers-reduced-motion) {
  #hero .decorElements > * {
  animation: none;
  }

  #productSection .productCard {
    animation: none;
  }
}

/* Media Queries */

@media only screen and (max-width: 1000px) {
  #scrollInSection > .stickyContainer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 4rem;
  }

  #scrollInSection > .stickyContainer .scrollInLeft {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #scrollInSection > .stickyContainer .scrollInLeft .evoShoeImg {
    position: relative;
    height: calc(100vh/3);
  }

  #scrollInSection > .stickyContainer .scrollInLeft .evoShoeImg::after {
    position: absolute;
    height: calc(100vh/3);
  }
}

@media only screen and (max-width: 700px) {

  #navbar {
    padding: 5px 20px;
  }

  .navLinks .hamburger {
    display: block;
  }
  
  .navLinks ul:last-child {
    display: none;
  }

  .showLinks {
    display: flex !important;
  }

  .navLinks #hamburgerLinks > li > a {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 1200px) {
  #productSection {
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  #productSection {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  #productSection {
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }
}
